.navBar {
  color: white;
  background-color: rgb(29, 158, 40);
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img {
  height: 80px;
  border-radius: 50%;
}

.facebookIcon {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 10%;
}

.facebookIcon:hover {
  cursor: pointer;
  border-radius: 50%;
}

.facebookIcon:active {
  transform: translateY(4px);
}

@media only screen and (max-width: 850px) {
  .navBar {
    flex-direction: column;
    height: 250px;
    font-size: smaller;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .facebookIcon {
    height: 30px;
    width: 30px;
  }

  .img {
    height: 50px;
  }
}
