.contactPage {
  /* height: 450px; */
  background-color: rgb(228, 228, 228);
  overflow: auto;
}

.title {
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .contactPage {
    height: 200px;
  }
}
